* {
    padding: 0px;
    margin: 0px;
}

#main {
    width: 100%;
    height: 100%;
    background-color: #232323;
    position: absolute;
    z-index: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font: menu;
}
#table {
    width: 95%;
    height: 90%;
    background-color: rgb(25, 167, 25);
    position: absolute;
    border-radius: 150px;
    border: 1rem solid #004508;
}
#table-deco {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#pot {
    width: 7rem;
    height: 5rem;
    border: 0.35rem solid rgb(119 0 0);
    border-radius: 42px;
    position: absolute;
    z-index: 2;
    top: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bolder;
}
#cards {
    width: 39rem;
    height: 9rem;
    background-color: #00000000;
    border: 0.35rem solid rgb(184, 0, 0);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    gap: 1rem;
    z-index: 2;
}
#cards img {
    height: 9rem;
    border-radius: 10px;
}
#line-across-thingy {
    width: 82.5%;
    height: 70%;
    background-color: rgb(30 131 30);
    border-radius: 100px;
    position: absolute;
    z-index: 1;
    border: 1rem solid white;
}
#player-area {
    width: 30%;
    height: 30%;
    background-color: #23232323;
    position: absolute;
    bottom: 0px;
    left: 34.9%;
    z-index: 5;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    display: flex;
    justify-content: center;
    transition: 0.25s;
}
#player-chips {
    transition: 0.5s;
}
#player-area img {
    margin-top: 20%;
}
#bet-button, #confirm-bet-button, #check-button, #fold-button {
    color: white;
    width: 5rem;
    height: 2rem;
    font: menu;
    font-size: 1.5rem;
    background-color: rgb(0, 125, 0);
    text-shadow: 2px 2px 2px black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-bottom: 5px solid rgb(0 100 0);
    border-right: 5px solid rgb(0 100 0);
    border-top: 5px solid rgb(0 150 0);
    border-left: 5px solid rgb(0 150 0);
    position: absolute;
    bottom: 12.5%;
    user-select: none;
    transition: 0.25s;
}
#bet-button {
    display: none;
}
#check-button {
    left: 10%;
    bottom: 5%;
    display: none;
}
#fold-button {
    right: 10%;
    bottom: 5%;
    display: none;
}
#fold-button:hover{
    background-color: rgb(125, 0, 0);
    border-bottom: 5px solid rgb(100 0 0);
    border-right: 5px solid rgb(100 0 0);
    border-top: 5px solid rgb(150 0 0);
    border-left: 5px solid rgb(150 0 0);
}
#bet-button:hover {
    background-color: rgb(0, 150, 0);
    border-bottom: 5px solid rgb(0 125 0);
    border-right: 5px solid rgb(0 125 0);
    border-top: 5px solid rgb(0 175 0);
    border-left: 5px solid rgb(0 175 0);
}
#check-button:hover {
    background-color: rgb(0, 150, 0);
    border-bottom: 5px solid rgb(0 125 0);
    border-right: 5px solid rgb(0 125 0);
    border-top: 5px solid rgb(0 175 0);
    border-left: 5px solid rgb(0 175 0);
}
#bet-screen {
    width: 100%;
    height: 100%;
    background-color: #2323239c;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
}
#begin-game {
    color: white;
    width: 10rem;
    height: 5rem;
    font: menu;
    font-size: 3.5rem;
    background-color: rgb(0, 125, 0);
    text-shadow: 2px 2px 2px black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-bottom: 5px solid rgb(0 100 0);
    border-right: 5px solid rgb(0 100 0);
    border-top: 5px solid rgb(0 150 0);
    border-left: 5px solid rgb(0 150 0);
    position: absolute;
    user-select: none;
    bottom: 43%;
    z-index: 7;
}
#bet-screen input[type="number"] {
    width: 8rem;
    height: 1rem;
    border: 0.25rem solid #777777;
    border-radius: 15px;
    font: menu;
    font-size: 1.5rem;
    padding: 1rem;
    color: black;
}
#bet-screen p {
    color: white;
    user-select: none;
    font-size: 1.35rem;
    font-weight: bolder;
    margin-bottom: 20%;
    text-shadow: 3px 3px 0px black;
}
#player-bet-number {
    color: white;
    font: menu;
    font-size: 1.5rem;
    position: absolute;
}

#CPU-1, #CPU-2, #CPU-3, #CPU-4 {
    background-color: #23232323;
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content: center;
    transition: 0.5s;
}
#CPU-3 {
    left: 10%;
    bottom: 0px;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    width: 20%;
    height: 20%;
}
#CPU-2 {
    left: 70%;
    bottom: 0px;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    width: 20%;
    height: 20%;
}
#CPU-4 {
    left: 0%;
    bottom: 35%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    width: 10%;
    height: 35%;
}
#CPU-1 {
    right: 0%;
    bottom: 35%;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    width: 10%;
    height: 35%;
}
#player-icon-3 {
    position: absolute;
    top: -25%;
    width: 24%;
    height: 45%;
}
#player-icon-2 {
    position: absolute;
    top: -25%;
    width: 24%;
    height: 45%;
}
#player-icon-4 {
    position: absolute;
    right: -25%;
    top: 30%;
    width: 45%;
    height: 25%;
}
#player-icon-1 {
    position: absolute;
    left: -25%;
    top: 30%;
    width: 45%;
    height: 25%;
}
#player-icon {
    position: absolute;
    top: -25%;
    width: 5rem;
    height: 4.25rem;
    left: 10%;
}

#CPU1-card-1 img, #CPU1-card-2 img, #CPU2-card-1 img, #CPU2-card-2 img, #CPU3-card-1 img, #CPU3-card-2 img, #CPU4-card-1 img, #CPU4-card-2 img, #player-card-1 img, #player-card-2 img {
    height: 5rem;
    border-radius: 5px;
}
#CPU1-card-1, #CPU1-card-2, #CPU2-card-1, #CPU2-card-2, #CPU3-card-1, #CPU3-card-2, #CPU4-card-1, #CPU4-card-2, #player-card-1, #player-card-2 {
    position: absolute;
    z-index: 6;
    left: 50%;
    bottom: 150%;
    height: 5rem;
    transition: 0.75s;
}

#flop-card-1 img, #flop-card-2 img, #flop-card-3 img, #turn-card-1 img, #river-card-1 img {
    height: 9rem;
    z-index: 7;
}
#flop-card-1, #flop-card-2, #flop-card-3, #turn-card-1, #river-card-1 {
    position: relative;
    z-index: 6;
    left: 50rem;
    bottom: 150rem;
    height: 9rem;
    transition: 0.75s;
}
#announcement {
    opacity: 0;
    position: absolute;
    background-color: #232323be;
    border-top: 0.15rem solid #777777;
    border-bottom: 0.15rem solid #777777;
    color: white;
    width: fit-content;
    height: fit-content;
    z-index: 20;
    top: 5%;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    transition: 0.5s;
    background: linear-gradient(to right, #23232344, #232323be 25%),
                linear-gradient(to left, #23232344, #232323be 25%);
    background-size: 100% 100%;
}